<div class="container">
<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>
<br>
<div class="center">
<%= link_to 'Show', @survey ,:class => 'orange waves-effect waves-light btn center'%>
<%= link_to 'Back', surveys_path ,:class => ' orange waves-effect waves-light btn center'%>
</div>
</div>